html {
  	box-sizing: border-box;
}
*, *:before, *:after {
 	box-sizing: inherit;
}
/*div {
    border: 1px solid #000000;
}*/
body {
	text-align: center;
	margin: 0 auto;
	font-family: 'Oswald', sans-serif;
	background-color: #FFFFFF;
}

.border {
	border: 2px solid #accbed;
	margin: 0 auto;
}

/* Menu Section */
.menu {
	height: 3em;
	width: 100%;
	background-color: #FFFFFF;
	position: fixed;
	border-bottom: 2px solid black;
}
.menu .name {
	float: left;
	padding-left: 40px;
	padding-top: 5px;
	margin: auto;
	font-size: 1.5em;
}
.name a:hover, .menu-items a:hover {
	color: #9E9E9E;
}
.menu-items {
	float: right;
	padding-top: 5px;
	margin: 0 auto;
}
.menu-items li {
	display: inline-block;
	font-size: 1.5em;
	padding-right: 40px;
}
a {
	text-decoration: none;
	color: black;
}

/*Masthead Section*/
.masthead {
	background-image: url('https://images.unsplash.com/photo-1448745799564-e2c1ed534c94?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5e02f4468c31a2501a8cf1cb392f2bf4'); 	
	background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 125px;
    padding-bottom: 400px;
 }
.masthead p {
	font-family: 'Amatic SC', cursive;
	color: #FFFFFF;
	font-weight: 300;
	margin: 0 auto;
	font-size: 5em;
}

/* About Me */
.overview, .projects {
	height: 28em;
}
.about-me-title {
	display: inline-block;
	width: 33.33%;
	float: left;
	background-color: #BDBDBD;
	color: #FFFFFF;
}
.about-me-title p {
	text-align: center;
	margin-bottom: 152px;
	margin-top: 150px;
	font-size: 6em;
	padding-top: 3px;
}
.about-me {
	display: inline-block;
	width: 66.66%;
	text-align: left;
}
.about-me p {
	font-size: 1.25em;
	padding: 100px 150px;
	vertical-align: middle;
}

/* Project Blocks */
.project-title {
	display: inline-block;
	width: 33.33%;
	float: right;
	background-color: #BDBDBD;
	color: #FFFFFF;
}
.project-title p {
	text-align: center;
	margin-bottom: 152px;
	margin-top: 150px;
	font-size: 6em;
}
.ratings, .quiz {
	float: right;
    width: 33.33%;
    height: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}
.ratings {
	background-image: url('../images/ratings.jpg');
}
.quiz {
	background-image: url('../images/quiz.jpg');
}
.shopping-list {
	background-image: url('../images/shopping-list.jpg');
	position: relative;
	float: left;
 	width: 33.33%;
 	height: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
}

/*Project Hidden Divs*/
.quiz-text, .ratings-text, .list-text {
	font-size: 3em;
	display: none;
	color: #FFFFFF;
	position: absolute;
	padding: 10px;
	background-color: #BDBDBD;
}
.quiz-text {
	margin-left: 118px;
	margin-top: 66.5px;
}
.ratings-text {
	margin-left: 482px;
	margin-top: 66.5px;
}
.list-text {
	margin-top: 290px;
	margin-left: 30px;
}

/* Footer */
.social {
	background-color: #2E2B3E;
	color: #accbed;
	font-size: 1em;
	font-weight: 300;
	padding: 2em 0;
}
ul {
	list-style-type: none;
	padding: 0;
}
.content .icons .github, 
.linkedin, .codepen, .envelope {
	margin: 0 .5em;
	display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 1px solid #accbed;
    padding: 9px 6.572px;
}
.icons .fa-github, .icons .fa-linkedin,
.icons .fa-codepen, .icons .fa-envelope {
	color: #accbed;
}

.social .content a {
	color: #accbed;
	font-weight: 300;
	text-decoration: none;
}
.social .content a:hover {
	color: #d4ecf4;
}
/* Link Hovers */
.github:hover, .linkedin:hover, 
.codepen:hover, .envelope:hover {
	background-color: #accbed;	
	cursor: pointer;
}
.github:hover .fa-github, 
.linkedin:hover .fa-linkedin,
.codepen:hover .fa-codepen, 
.envelope:hover .fa-envelope {
	cursor: pointer;
	color: #d4ecf4;
}

/* Media Query */
@media only screen and (max-width: ) {
}