html {
  	box-sizing: border-box;
}
*, *:before, *:after {
 	box-sizing: inherit;
}
body {
	text-align: center;
	margin: 0 auto;
	font-family: 'Oswald', sans-serif;
	background-color: #FFFFFF;
}

/* Menu Section */
.menu {
	height: 3em;
	width: 100%;
	background-color: #BDBDBD;
	position: fixed;
	border-bottom: 2px solid black;
	z-index: 100;
	top: 0;
	display: none;
}
.menu .name {
	float: left;
	padding-left: 20px;
	padding-top: 5px;
	margin: auto;
	font-size: 1.5em;
}
.name a:hover, .menu-items a:hover {
	color: #FFFFFF;
}
.menu-items {
	float: right;
	padding-top: 5px;
	margin: 0 auto;
}
.menu-items li {
	display: inline-block;
	font-size: 1.5em;
	padding-right: 20px;
}
a {
	text-decoration: none;
	color: black;
}

/* Masthead Section */
.masthead {
	background-image: url('https://images.unsplash.com/photo-1448745799564-e2c1ed534c94?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5e02f4468c31a2501a8cf1cb392f2bf4'); 	
    background-size: 100%;
    padding-top: 125px;
    padding-bottom: 400px;
    background-repeat: no-repeat;
 }
.masthead-title {
	font-family: 'Amatic SC', cursive;
	color: #FFFFFF;
	margin: 0 auto;
	font-size: 5em;
	display: none;
}

/* About Me Section */
.overview, .projects, .tech {
	height: 28em;
}
.about-me-title, .tech-title {
	width: 33.33%;
	float: left;
	background-color: #BDBDBD;
	color: #FFFFFF;
}
.about-me-title p, .tech-title p {
	margin-bottom: 152px;
	margin-top: 150px;
	font-size: 6em;
	padding-top: 3px;
}
.pic {
	width: 33.33%;
	height: 100%;
	float: left;
    background-size: 100%;
    background-image: url('../images/rango.jpg');
    background-repeat: no-repeat;
    background-position: fixed;
}
.about-me {
	display: inline-block;
	width: 33.33%;
	text-align: left;
	height: 100%;
}
.about-me p {
	margin: 0;
	font-size: 1.25em;
	padding-top: 105px;
	padding-right: 20px;
	padding-left: 20px;
}

/* Project Blocks */
.ratings, .quiz, .shopping-list, .new {
	width: 33.33%;
    background-size: 100%;
    height: 50%;
    background-repeat: no-repeat;
}

.project-title {
	width: 33.33%;
	float: right;
	background-color: #BDBDBD;
	color: #FFFFFF;
}
.project-title p {
	text-align: center;
	margin-bottom: 152px;
	margin-top: 150px;
	font-size: 6em;
	padding-top: 3px;
}
.ratings, .quiz {
	float: right;
    position: relative;
}
.ratings {
	background-image: url('../images/ratings.jpg');
}
.quiz {
	background-image: url('../images/quiz.jpg');
}
.shopping-list {
	background-image: url('../images/shopping-list.jpg');
	position: relative;
	float: left;
}
.new {
	font-size: 4em;
	float: left;
	border-bottom: 2px solid #BDBDBD;
}
.button {
	display: none;
}

/* Project Hidden Divs */
.quiz-text, .ratings-text, .list-text {
	font-size: 3em;
	display: none;
	color: #FFFFFF;
	position: absolute;
	padding: 10px;
	background-color: #BDBDBD;
}
.quiz-text {
	margin-left: 118px;
	margin-top: 66.5px;
}
.ratings-text {
	margin-left: 35%;
    margin-top: 6%;
}
.list-text {
	margin-top: 290px;
	margin-left: 30px;
}
/* Tech Logos */
.tech-images{
	margin-top: 85px;
	width: 66%;
	float: left;
}
.html, .css {
	margin-right: 50px;
}
/* Footer */
.social {
	background-color: #000000;
	color: #FFFFFF;;
	padding: 2em 0;
	font-family: 'Amatic SC', cursive;
	position: absolute;
	width: 100%;
}
.content-title {
	font-size: 3em;
	margin-top: 0px;
    margin-bottom: 32px;
}
.icons {
	list-style-type: none;
	padding: 0;
	font-size: 30px;
}
.content .icons .github, 
.linkedin, .envelope {
	margin: 0 .5em;
	display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 1px solid #FFFFFF;
    padding: 8.5px 5px;
}
.icons .fa-github, .icons .fa-linkedin,
.icons .fa-envelope {
	color: #FFFFFF;
	font-size: 1em;
}

.social .content a {
	color: #FFFFFF;
	font-weight: 300;
	text-decoration: none;
}
.social .content a:hover {
	color: #BDBDBD;
	right: 0;
}
/* Link Hovers */
.github:hover, .linkedin:hover, 
.envelope:hover {
	background-color: #BDBDBD;	
	cursor: pointer;
}
.github:hover .fa-github, 
.linkedin:hover .fa-linkedin,
.envelope:hover .fa-envelope {
	cursor: pointer;
}

/* Media Query */
@media only screen and (max-width: 1040px) {
	.masthead {
		background-position-y: -15px;
		padding-bottom: 90px;
	}
	.masthead p {
		font-size: 4em;
		margin-bottom: 100px;
	}
	.overview, .projects, .tech {
		min-height: 28em;
		height: 0;
	}
	.about-me-title, .tech-title {
    	max-height: 28em;
	}
	.about-me-title p, .tech-title p {
    	margin-top: 75px;
	}
	.about-me p {
		padding-top: 75px;
	}
	.js {
		width: 215px;
	}
	.html, .css {
		width: 150px;
	}
	.ratings, .quiz, .shopping-list, .new {
		background-size: cover;
		background-position: center;
	}
	.new {
		padding: 20px;
		font-size: 3em;
		border-bottom: none;
	}
	.projects {
		border-bottom: 2px solid #BDBDBD;
	}
}
@media only screen and (max-width: 768px) {
	.masthead {
		padding-bottom: 80px;
	}
	.menu-items, .menu .name  {
		padding-top: 9px;
	}
	.menu .name, .menu-items li {
		font-size: 20px;
	}
	.menu-items li {
		padding-top: 0;
	}
	.overview, .projects, .tech {
		height: auto;
	}
	.projects {
		min-height: 40em;
	}
	.about-me-title, .project-title, .tech-title {
		width: 100%;
		min-height: 10em;
		float: none;
	}
	.about-me-title p, .project-title p, .tech-title p {
		margin: 0;
	}
	.pic, .about-me {
		height: 288px;
	}
	.about-me {
		width: 66.66%;
	}
	.about-me p {
		font-size: 15px;
		padding-top: 90px;
	}
	.shopping-list, .quiz, .ratings {
		background-position-y: -5px;
		width: 100%;
		min-height: 10em;
	}
	.html, .css {
		width: 100px
	}
	.js {
		width: 130px;
	}
	.new {
		display: none;
	}
	.tech-images {
		width: 100%;
		float: none;
		min-height: 18em;
		margin-top: 0;
	}
	img {
		margin-top: 75px;
	}
	.social, .content, .content-title p {
		font-size: 15px;
	}
}
@media only screen and (max-width: 425px) {
	.masthead {
		padding-bottom: 0;
	}
	.masthead p {
		font-size: 3em;
		padding-bottom: 10px;
		margin-bottom: 0;
	}
	.menu-items {
		float: none;
		padding-top: 10px;
		padding-left: 0;
	}
	.menu .name {
		display: none;
	}
	.menu-items li {
		font-size: 15px;
	}
	.menu-items .connect {
		padding-right: 0;
	}
	.about-me-title p, .project-title p, .tech-title p {
		font-size: 3em;
		padding-top: 35px;
	}
	.about-me {
		width: 100%;
	}
	.about-me p {
		padding-top: 78px;
	}
	.pic {
		display: none;
	}
	.ratings-text, .quiz-text, .list-text {
		display: none !important;
	}
	.button {
		display: block;
		float: right;
	}
	img {
		margin-top: 90px;
	}
	.html, .css {
		width: 75px
	}
	.js {
		width: 90px;
	}
	.content-title {
		font-size: 2.5em;
	}
}