html {
  	box-sizing: border-box;
}
*, *:before, *:after {
 	box-sizing: inherit;
}
/*div {
    border: 1px solid #000000;
}*/
body {
	text-align: center;
	margin: 0 auto;
	font-family: 'Oswald', sans-serif;
	background-color: #FFFFFF;
}

.border {
	border: 2px solid #accbed;
	margin: 0 auto;
}
/* Top Section */
.menu {
	height: 3em;
	width: 100%;
	background-color: #FFFFFF;
	position: fixed;
	border-bottom: 2px solid black;
}
.menu .name {
	float: left;
	padding-left: 10px;
	padding-top: 5px;
	margin: auto;
	font-size: 1.5em;
}
.masthead {
	background-image: url('https://images.unsplash.com/photo-1448745799564-e2c1ed534c94?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5e02f4468c31a2501a8cf1cb392f2bf4'); 	
	background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 50px;
    padding-bottom: 400px;
 }
.masthead p {
	font-family: 'Amatic SC', cursive;
	color: #FFFFFF;
	font-weight: 300;
	margin: 0 auto;
	font-size: 5em;
}

/* About Me */
.overview, .projects {
	height: 28em;
}
.about-me-title {
	display: inline-block;
	width: 33%;
	float: left;
	background-color: #BDBDBD;
	color: #FFFFFF;
}
.about-me-title p {
	text-align: center;
	margin-bottom: 152px;
	margin-top: 150px;
	font-size: 6em;
}
.about-me {
	display: inline-block;
	width: 66%;
	text-align: left;
}
.about-me p {
	font-size: 1.25em;
	padding: 100px 150px;
	vertical-align: middle;
}

/* Projects */
.project-title {
	display: inline-block;
	width: 33%;
	float: right;
	background-color: #BDBDBD;
	color: #FFFFFF;
}
.project-title p {
	text-align: center;
	margin-bottom: 152px;
	margin-top: 150px;
	font-size: 6em;
}
.projects .links {
	display: inline-block;
	padding: 1em 3em;
}
.content h3 {
	font-size: 4em;
	color: #052f90;
	text-shadow: 3px 3px #accbed;
	margin-bottom: 0.5em;
}
.links a {
	text-decoration: none;
	font-weight: 300;
	color: #052f90;
}
 .links a:hover {
	color: #accbed;
}
.links a:visited {
	color: #181b24;
}
/* Footer */
.social {
	background-color: #2E2B3E;
	color: #accbed;
	font-size: 1em;
	font-weight: 300;
	padding: 2em 0;
}
ul {
	list-style-type: none;
	padding: 0;
}
.content .icons .github, 
.linkedin, .codepen, .envelope {
	margin: 0 .5em;
	display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 1px solid #accbed;
    padding: 9px 6.572px;
}
.icons .fa-github, .icons .fa-linkedin,
.icons .fa-codepen, .icons .fa-envelope {
	color: #accbed;
}

.social .content a {
	color: #accbed;
	font-weight: 300;
	text-decoration: none;
}
.social .content a:hover {
	color: #d4ecf4;
}
/* Link Hovers */
.github:hover, .linkedin:hover, 
.codepen:hover, .envelope:hover {
	background-color: #accbed;	
	cursor: pointer;
}
.github:hover .fa-github, 
.linkedin:hover .fa-linkedin,
.codepen:hover .fa-codepen, 
.envelope:hover .fa-envelope {
	cursor: pointer;
	color: #d4ecf4;
}

/* Media Query */
@media only screen and (max-width: 800px) {
	.masthead h1 {
    	padding: 0.25em 0.5em;
    	font-size: 3em;
	}
	.masthead h3 {
		font-size: 2.5em;
	}
	.overview .about-me p {
		padding: 0 1.25em;
		font-size: 1em;
	}
	.overview .about-me h3, 
	.projects .content h3 {
		font-size: 2.2em;
	}
}