html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	text-align: center;
	margin: 0 auto;
	background-color: #d4ecf4;
	font-family: 'Ubuntu', sans-serif;
}

h3 {
	font-family: 'Megrim', cursive;
}
.border {
	border: 2px solid #accbed;
	margin: 0 auto;
}
@media only screen and (max-width: 800px) {
	 .masthead h1 {
    	padding: 0.25em 0.5em;
    	font-size: 2.5em;
	}
	.overview .about-me p {
		padding: 0 1.25em;
		font-size: 1em;
	}
	.overview .about-me h3, .projects .content h3 {
		font-size: 2.2em;
	}
	.social {
		padding: 0 0;
	}
}
/* Top Section */
.masthead {
	background-image: url(https://images.unsplash.com/photo-1445905595283-21f8ae8a33d2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=92b24309dd74c134f2123eb6fff6cb34);
  	background-size: cover;
  	padding: 3em 0;
 }
.masthead h1, .masthead h3 {
	font-family: 'Megrim', cursive;
	color: #accbed;
	text-shadow: 3px 3px #052f90;
}
.masthead h1 {
	margin-bottom: 0em;
	font-size: 5em;
}
.masthead h3 {
	margin-top: 0em;
	font-size: 3em;
}
/* About Me */
.about-me h3 {
	font-size: 4em;
	color: #052f90;
	text-shadow: 3px 3px #accbed;
	margin-bottom: 0.5em;
}
.about-me p {
	display: inline-block;
	width: 100%;
	font-size: 1.2em;
	text-align: left;
	color: #052f90;
	font-weight: 300;
	padding-bottom: 2em;
	padding-right: 8em;
	padding-left: 8em;
}
/* Projects */
.projects {
	font-size: 1.1em;
	color: #052f90;
	font-weight: 300;
	padding-bottom: 4em;
}
.projects .links {
	display: inline-block;
	padding: 1em 3em;
}
.content h3 {
	font-size: 4em;
	color: #052f90;
	text-shadow: 3px 3px #accbed;
	margin-bottom: 0.5em;
}
.links a {
	text-decoration: none;
	font-weight: 300;
	color: #052f90;
}
 .links a:hover {
	color: #accbed;
}
.links a:visited {
	color: #181b24;
}
/* Footer */
.social {
	background-color: #2E2B3E;
	color: #accbed;
	font-size: 1em;
	font-weight: 300;
	padding: 2em 0;
}
ul {
	list-style-type: none;
	padding: 0;
}
.content .icons li {
	margin: 0 .5em;
	display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 1px solid #accbed;
    padding: 9px 6.572px;
}

.icons .fa-github {
	color: #accbed;
}
.icons .fa-linkedin {
	color: #accbed;
}
.icons .fa-codepen {
	color: #accbed;
}
.icons .fa-envelope {
	color: #accbed;
}
.icons i:hover {
	color: #d4ecf4;
}
.social .content a {
	color: #accbed;
	font-weight: 300;
	text-decoration: none;
}
.social .content a:hover { 
	color: #d4ecf4;
}
.social .content a:visited {
	color: #d4ecf4;
}