html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	text-align: center;
	margin: 0 auto;
	background-color: #d4ecf4;
	font-family: 'Roboto Slab', serif;
}
h3 {
	font-family: 'Megrim', cursive;
}
/* Top Section */
.masthead {
	background-image: url(https://images.unsplash.com/photo-1445905595283-21f8ae8a33d2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=92b24309dd74c134f2123eb6fff6cb34);
  	background-size: cover;
  	padding: 3em 0;
 }
.masthead h1, .masthead h3 {
	font-family: 'Megrim', cursive;
	color: #accbed;
	text-shadow: 3px 3px #052f90;
}
.masthead h1 {
	margin-bottom: 0em;
	font-size: 5em;
}
.masthead h3 {
	margin-top: 0em;
	font-size: 3em;
}
/* About Me */
.overview {
	padding: 0 10em;
}
.about-me h3 {
	font-size: 4em;
	color: #052f90;
	text-shadow: 3px 3px #accbed;
    padding-bottom: 0px;
}
.about-me p {
	display: inline-block;
	width: 100%;
	font-size: 1em;
	text-align: left;
	color: #052f90;
	font-weight: 300;
	border-bottom: 2px solid #accbed;
	padding-right: 10em;
	padding-left: 10em;
	padding-bottom: 2em;
	margin-bottom: 0;
}
/* Projects */
.projects {
	font-size: 1em;
	color: #052f90;
	font-weight: 300;
	border-bottom: 2px solid #accbed;
	width: auto;
	padding-bottom: 4em;
}
.projects .links {
	display: inline-block;
	padding: 1em 3em;
}
.content h3 {
	font-size: 4em;
	color: #052f90;
	text-shadow: 3px 3px #accbed;
}
a {
	text-decoration: none;
	font-weight: 400;
}
a:hover {
	color: #accbed;
}
/* Footer */
.footer {
	background-color: #2E2B3E;
	color: #accbed;
	font-size: 1em;
	font-weight: 300;
	padding: 3em 0;
}